/*
* @Author: Administrator
* @Date:   2016-09-18 14:58:49
* @Last Modified by:   Administrator
* @Last Modified time: 2016-09-18 17:42:27
*/
a,a:link,a:visited,a:hover,a:active{
	text-decoration: none;
}
body{
	padding-left: 5em;
}
.sub-navbar{
	padding-top: 10px;
	padding-bottom: 7px;
	background-color: rgba(0,0,0,.1);
	box-shadow: 0px 0px 1px;
}
.navbar-related{
	padding-left: 6em;
}
.navbar-related a{
	width: 32px;
    height: 32px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid rgb(231, 129, 112);
    color: rgb(231, 129, 112);
    text-align: center;
    line-height: 32px;
}
.navbar-meepo{
	position: fixed;
	width: 5em;
	z-index: 1049;
	backface-visibility: hidden;
}
.navbar-meepo a{
	display: block;
	padding: 10px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}
.expanded {
	left: 0px;
	top: 0px;
	height: 100%;
	background: rgb(42, 42, 42);
}
.dropdown{
	position: relative;
}
.dropdown a.active {
	color: white;
	text-shadow: rgb(222, 83, 58) 0px 1px 0px;
	background-color: rgb(231, 129, 112);
	box-shadow: 0px 0px 1px;
}
a.logo {
	font-size: 18px;
	color: white;
}